*{
    margin: 0px;
    padding: 0px;
}
:root{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.calcBox{
    backdrop-filter: blur(6px);
    background-color: #6161611f;
        border-right: solid 2px #ffffff87;
       border-top: solid 2px #ffffff87;
       box-shadow: inset 6px -6px 20px 6px #f5f5f51f;
     width: fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 3rem;
  
}


.historyBox{

display: inline-block;
height: 3.8rem;
width :100%;
display: flex;
justify-content: end;
align-items: end;
padding-right: 1rem;
color: white;
}
.calculationBox{
    height: 6.2rem;
font-size: 4rem;
display: flex;
justify-content: end;
align-items: end;
padding-right: 1rem;
color: white;
}
.outBox{
   
    box-shadow: 0 0 9px 4px #0000003b;
    height: 10rem;
    width :22rem;
    border-radius: 2.4rem;
}
.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
 color:white;

    font-size: 3rem;
    font-family: monospace;
    border-radius: 2.5rem;
    cursor: pointer;
}
.btn:hover{
    filter: drop-shadow(0 0 1rem #61dafbaa);
    background-color: aqua;
}
.buttonsOutBox {  margin-top: 1rem;
    display: grid;
        grid-template-columns: repeat(4, auto);
        grid-auto-flow: row;
        grid-gap: 5px;
        height: max-content;
    width :22rem;

}
